<div id="tide-interactions-twikoo-wrapper" dir="ltr" style="display:none;">
  <div id="tide-interactions-twikoo" data-path="<%= url_for(page.path) %>" data-lang="<%= tideCtx.language %>"></div>
  <%- js(Object.assign(parse_cdn_config('twikoo_js',tideCtx.cdn),{defer:true})) %>
  <script>
    'use strict';
    if (!window.tideInteractions)
      window.tideInteractions = {};
    const twikooWrapper = document.getElementById('tide-interactions-twikoo-wrapper');
    const twikooEle = document.getElementById('tide-interactions-twikoo');
    window.tideInteractions.twikoo = {
      path: twikooEle.dataset.path,
      lang: twikooEle.dataset.lang,
      twikooInited: false,
      load: function() {
        // https://github.com/twikoojs/twikoo/blob/main/src/client/utils/i18n/index.js
        const twikooLangs = {
          zh: 0,
          'zh-cn': 0,
          'zh-hk': 1,
          'zh-tw': 2,
          'en-us': 3,
          'en-gb': 3,
          en: 3,
          uz: 4,
          'uz-uz': 4,
          ja: 5,
          'ja-jp': 5
        };
        let pageLang = getPageLang().toLowerCase();
        if (!(pageLang in twikooLangs))
          pageLang = 'en';
        twikooWrapper.style.display = 'block';
        if (this.twikooInited)
          return;
        twikoo.init({
          envId: window.tideClientCtx.interactions.twikoo.env_id,
          el: '#tide-interactions-twikoo',
          region: window.tideClientCtx.interactions.twikoo.region,
          // path: location.pathname,
          path: this.path,
          lang: this.lang
        }).then(() => {
          this.twikooInited = true;
        });
      },
      unload: function() {
        twikooWrapper.style.display = 'none';
      }
    };
  </script>
</div>