<div id="tide-interaction-webmentionjs-wrapper" style="display:none;">
  <div id="tide-interaction-webmentionjs"></div>
  <%- css(parse_cdn_config('webmentionjs_css',tideCtx.cdn)) %>
  <% let params=Object.assign(parse_cdn_config('webmentionjs_js',tideCtx.cdn),{'data-id':'tide-interaction-webmentionjs',defer:true}) %>
  <% const config=tideCtx.interactions.webmentionjs %>
  <% Object.assign(params,{'data-max-webmentions':config.max_webmentions,'data-sort-by':config.sort_by,'data-sort-dir':config.sort_dir}) %>
  <% if(config.wordcount!==-1){ %>
  <% params['data-wordcount']=config.wordcount %>
  <% } %>
  <% if(config.prevent_spoofing){ %>
  <% params['data-prevent-spoofing']=true %>
  <% } %>
  <% if(config.comments_are_reactions){ %>
  <% params['data-comments-are-reactions']=true %>
  <% } %>
  <%- js(params) %>
  <script>
    'use strict';
    if (!window.tideInteractions)
      window.tideInteractions = {};
    window.tideInteractions.webmentionjs = {
      load: function() {
        document.getElementById('tide-interaction-webmentionjs-wrapper').style.display = 'block';
      },
      unload: function() {
        document.getElementById('tide-interaction-webmentionjs-wrapper').style.display = 'none';
      },
      i18n: function(key) {
        return clientCtx.interactions.webmentionjs.i18n[key] || key;
      }
    };
  </script>
</div>