<dialog id="tide-dialog-toc" class="tide-dialog un-sc-dlg-fullscreen">
  <div class="tide-dialog-mask un-sc-dlg-mask">
    <div id="tide-toc-panel" class="tide-side-panel un-fixed un-end-0 un-h-full un-bg-bg-scnd un-flex un-flex-col">
      <div class="un-w-full un-p-4 un-flex-none un-flex un-justify-between un-gap-4">
        <h2 class="un-m-0 un-text-2xl un-font-bold un-leading-12 un-overflow-hidden un-text-ellipsis"><%= __('dialog_toc.title') %></h2>
        <button id="tide-toc-btn-close" class="un-sc-btn-default un-flex-none un-size-12" title="<%= __('dialog_toc.btn_close.title') %>" aria-controls="tide-dialog-toc">
          <i class="fa-solid fa-close" aria-hidden="true"></i>
        </button>
      </div>
      <div id="tide-toc-content" class="tide-side-panel-content un-w-full un-p-4 un-h-full un-grow-1 un-shrink-1 un-overflow-auto">
        <%- toc(page.content,{list_number:tideCtx.toc.list_number,class:'tide-toc'}) %>
      </div>
    </div>
  </div>
</dialog>
<script>
  'use strict';
  (function() {
    if (document.readyState !== 'loading')
      domContentLoadedHandler();
    else
      document.addEventListener('DOMContentLoaded', domContentLoadedHandler);

    function domContentLoadedHandler(eDomContentLoaded) {
      const dialogToc = document.getElementById('tide-dialog-toc');
      const tocMask = document.querySelector('#tide-dialog-toc .tide-dialog-mask');
      const tocPanel = document.getElementById('tide-toc-panel');
      const tocLinks = document.getElementsByClassName('tide-toc-link');
      const btnClose = document.getElementById('tide-toc-btn-close');
      tocMask.addEventListener('click', () => {
        KILL_ME_PLEASE();
      });
      tocPanel.addEventListener('click', function(e) {
        e.stopPropagation();
      });
      for (const link of tocLinks) {
        link.addEventListener('click', function(e) {
          const targetId = decodeURIComponent(e.currentTarget.href.split('#')[1]);
          const target = document.getElementById(targetId);
          if (target) {
            document.getElementById('tide-main-content').scrollTo({
              top: target.offsetTop - document.getElementById('tide-top-bar').clientHeight,
              behavior: 'smooth'
            });
            e.preventDefault();
          }
          KILL_ME_PLEASE();
        });
      }
      btnClose.addEventListener('click', () => {
        KILL_ME_PLEASE();
      });

      function KILL_ME_PLEASE() {
        dialogToc.close();
      }
    }
  })();
</script>