<% const tideCtx=get_ctx(site,config,theme,page) %>
<div id="tide-archive-posts">
  <%- partial('./partials/post-ul.ejs',{tideCtx}) %>
<div>
    <!-- <ul id="tide-archive" un-bg="yellow" un-p="0" un-my="8" un-w="full" un-list="none"> -->
<div id="tide-archive-paginator">
  <!-- 上样式 -->
  <%- partial('./partials/paginator.ejs') %>
</div>