<% const tideCtx=get_ctx(site,config,theme,page) %>
<div id="tide-categories">
  <h1 class="un-m-0 un-mb-4 un-text-4xl un-text-txt-prim un-font-bold"><%= __('page_title.categories') %></h1>
  <div class="un-w-full un-flex un-flex-wrap un-gap-4">
    <%- list_categories(site.categories,{class:'tide-category',style:false,separator:''}) %>
  </div>
</div>