<% const tideCtx=get_ctx(site,config,theme,page) %>
<div id="tide-category">
  <h1 class="un-m-0 un-mb-4 un-text-4xl un-text-txt-prim un-font-bold"><%= __('page_title.category',tideCtx.category,tideCtx.item_description_marker) %></h1>
  <%- partial('./partials/post-ul.ejs',{tideCtx,postSrc:page}) %>
</div>
<div id="tide-category-paginator">
  <%- partial('./partials/paginator.ejs') %>
</div>