<!DOCTYPE html>
<html lang="zh-CN" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hexo-theme-tide</title>
    <link rel="stylesheet" href="./css/tide.css">
    <script src="./js/third-party/jquery.min.js"></script>
</head>

<body>
    <div id="tide-root" <% if(is_post()) { %>
        tide-is-post="true"
        <% } %>
            un-bg="b-scnd" un-absolute un-top="0" un-bottom="0" un-left="0" un-right="0">
            <div id="tide-left-bar" un-sc-trans-default un-bg="prim" un-fixed un-ltr="-left-75vw" un-rtl="-right-75vw"
                un-flex="~ col" un-justify="between" un-z="30" un-text="center t-lb" un-w="75vw" un-h="full">
                <header un-flex="none" un-py="8">
                    <% if(is_home()) { %>
                        <h1 id="tide-site-name" un-text="4xl" un-font="bold">hexo-theme-tide</h1>
                        <% } else { %>
                            <span id="tide-site-name" un-text="4xl" un-font="bold">hexo-theme-tide</span>
                            <% } %>
                </header>
                <nav id="tide-navigation" un-flex="initial" un-self="center" un-max-w="full" un-overflow="auto">
                    <ul un-flex="~ col" un-items="start" un-p="0" un-list="none" un-text="2xl">
                        <li un-mb="8"><span un-i="ms-home-rounded" un-ltr="mr-2" un-rtl="ml-2"></span><a
                                un-sc-link-plain un-text="t-lb" href="#">首页</a>
                        </li>
                    </ul>
                </nav>
                <footer un-flex="none" un-py="8">
                    <!-- 留一个隐藏的 div，方便用户通过修改注入 -->
                    <div class="tide-footer-injection-point" un-hidden></div>
                    <p><a un-sc-link-plain un-text="t-lb" href="https://hexo.io/" target="_blank"
                            rel="noopener">萌ICP备20230041号</a></p>
                    <p>由<span un-i="logos-hexo" un-mx="1"></span><a un-sc-link-plain un-text="t-lb"
                            href="https://hexo.io/" target="_blank" rel="noopener">Hexo</a> 强力驱动</p>
                    <!-- <p>Powered by<span un-i="logos-hexo" un-mx="1"></span><a un-sc-link-plain un-text="t-lb"
                            href="https://hexo.io/" target="_blank" rel="noopener">Hexo</a></p> -->
                </footer>
            </div>
            <!-- <div id="tide-deco"><img src="./img/tide-deco.svg" alt=""></div> -->
            <div id="tide-content" un-sc-trans-default un-fixed un-flex="~ col" un-w="full" un-h="full">
                <!-- 顶部工具栏 -->
                <header id="tide-top-bar" un-bg="b-prim" un-flex un-justify="stretch" un-items="center" un-h="16">
                    <div un-w="full" un-h="12">
                        <button id="tide-btn-nav" aria-label="打开导航菜单" un-sc-btn-default un-relative
                            un-ltr="float-left ml-4" un-rtl="float-right mr-4" un-w="12" un-h="12"><span
                                id="tide-btn-nav-icon" un-i="ms-menu" un-block un-w="full" un-h="full"
                                un-text-prim></span></button>
                    </div>
                    <div un-w="full" un-h="12">
                        <!-- 开启 relative，使用 right 让元素具有符合直觉的 tab index -->
                        <button id="tide-btn-search" aria-label="打开搜索页面" un-sc-btn-default un-relative
                            un-ltr="float-right right-16 mr-4" un-rtl="float-left left-16 ml-4" un-w="12"
                            un-h="12"><span un-i="ms-search" un-block un-w="full" un-h="full"
                                un-text-prim></span></button>
                        <button id="tide-btn-settings" aria-label="打开设置页面" un-sc-btn-default un-relative
                            un-ltr="float-right -right-16 mr-4" un-rtl="float-left -left-16 ml-4" un-w="12"
                            un-h="12"><span un-i="ms-settings" un-block un-w="full" un-h="full"
                                un-text-prim></span></button>
                    </div>
                </header>
                <main id="tide-main-content" un-bg="b-prim" un-flex="1" un-overflow="auto">
                    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </p>
                    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </p>
                    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </p>
                    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </p>
                    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </p>
                    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </p>
                    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </p>
                    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </p>
                    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </p>
                    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </p>
                    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </p>
                    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </p>
                    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </p>
                    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </p>
                    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </p>
                    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </p>
                    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </p>
                    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </p>
                    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </p>
                    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </p>
                    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </p>
                    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </p>
                    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </p>
                    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </p>
                    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </p>
                    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </p>
                    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </p>
                    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </p>
                    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </p>
                    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </p>
                    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </p>
                    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </p>
                    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </p>
                    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </p>
                    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </p>
                    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </p>
                    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </p>
                    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </p>
                    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </p>
                    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </p>
                    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </p>
                    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </p>
                    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </p>
                    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </p>
                    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </p>
                    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </p>
                    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </p>
                    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </p>
                    <p>bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb</p>
                    <!-- 页面 -->
                    <article></article>
                    <!-- 评论 -->
                    <article></article>
                    <!-- TOC，从 lg 开始显示 -->
                    <aside></aside>
                </main>
            </div>
    </div>
    <script>
        $('#tide-btn-search').click(() => {
            if ($('html').hasClass('debug-large-font-size'))
                $('html').removeClass('debug-large-font-size');
            else
                $('html').addClass('debug-large-font-size');
        });
        $('#tide-btn-settings').click(() => {
            if ($('html').attr('dir') === 'ltr')
                $('html').attr('dir', 'rtl');
            else
                $('html').attr('dir', 'ltr');
        });
        $('#tide-btn-nav').click(() => {
            if ($('#tide-root').attr('tide-left-bar-expanded') === 'true') {
                $('#tide-root').attr('tide-left-bar-expanded', 'false');
                $('#tide-btn-nav-icon').attr('un-i', 'ms-menu');
            }
            else {
                $('#tide-root').attr('tide-left-bar-expanded', 'true');
                $('#tide-btn-nav-icon').attr('un-i', 'ms-close');
            }
        });
    </script>
</body>

</html>