<!DOCTYPE html>
<html lang="zh-CN" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hexo-theme-tide</title>
    <link rel="stylesheet" href="./css/tide.css">
    <script src="./js/third-party/jquery.min.js"></script>
</head>

<body>

    <div id="tide-root" un-absolute un-top="0" un-bottom="0" un-left="0" un-right="0" un-flex un-bg="purple">
        <!-- 左侧导航栏 -->
        <!-- transformer-variant-group broken in 0.62 -->
        <!-- https://github.com/unocss/unocss/issues/4088 -->
        <!-- <nav id="tide-navigation" class="bg-blue invisible absolute w-full h-full lg:visible lg:portrait:invisible lg:relative lg:portrait:absolute lg:w-1/4 lg:portrait:w-full"> -->

        <!-- 普通页面不收起，文章页收起，参考 https://louisbarranqueiro.github.io/hexo-theme-tranquilpeak/ -->

        <!-- 非首页布局默认有 class="hidden" -->
        <!-- js 切换 display:none 和 display:block，即 class 中 hidden 和 block -->
        <!-- ejs 始终输出 un-hidden，给首页再输出 un-md="block" -->
        <!-- js 添加或去除 hidden -->

        <% if(is_home()) { %>
            <!-- <div id="tide-left-bar" un-bg="blue" un-hidden un-flex="initial" un-w="72" un-h="full" un-md="block"> -->
            <div id="tide-left-bar" un-bg="blue" un-hidden un-flex="initial" un-w="72" un-h="full" un-lg="block">
                <% } else { %>
                    <div id="tide-left-bar" un-bg="blue" un-hidden un-flex="initial" un-w="72" un-h="full">
                        <% } %>
                            <header>
                                <h1>hexo-theme-tide</h1>
                            </header>
                            <nav id="tide-navigation">
                                <ul>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                </ul>
                            </nav>
                            <footer>
                                Powered by Hexo
                            </footer>
                    </div>

                    <!-- <div id="tide-content" un-bg="red" un-flex="1 col" un-h="full" un-lg="flex-none w-full"> -->
                    <!-- <div id="tide-content" style="background-image: url('');" un-flex="1 col" un-h="full" un-md="flex-none w-full"> -->

                    <!-- 小屏幕和非首页 flex-none，大屏幕首页 flex-1 -->
                    <!-- ejs 始终输出 un-flex="none col"，给首页再输出 un-md="flex-1" -->

                    <% if(is_home()) { %>
                        <div id="tide-content"
                            style="background-image: url('https://bucket.hollisdevhub.com/blog/posts/6a6f8902/imgs/Photo_2023-09-13-212201.webp');"
                            un-flex="none col" un-w="full" un-h="full" un-md="flex-1">
                            <% } else { %>
                                <div id="tide-content"
                                    style="background-image: url('https://bucket.hollisdevhub.com/blog/posts/6a6f8902/imgs/Photo_2023-09-13-212201.webp');"
                                    un-flex="none col" un-w="full" un-h="full">
                                    <% } %>
                                        <!-- 顶部工具栏 -->
                                        <header id="tide-top-bar" un-bg="green" un-flex="~ none" un-justify="between"
                                            un-items="center" un-h="16">
                                            <!-- <div class="bg-white flex-none h-4/5 aspect-square"> -->

                                            <div un-h="4/5" un-justify-self="start">
                                                <button id="tide-btn-nav" un-h="full" un-aspect="square">三</button>
                                            </div>
                                            <div un-h="4/5" un-justify-self="end">
                                                <button id="tide-btn-search" un-h="full" un-aspect="square">🔍</button>
                                                <button id="tide-btn-settings" un-h="full"
                                                    un-aspect="square">⚙️</button>
                                            </div>



                                            <!-- </div> -->
                                            <!-- <div class="bg-white flex-auto h-4/5 aspect-square flex flex-row-reverse"> -->
                                            <!-- <div class="bg-white flex-auto h-4/5 aspect-square flex flex-row-reverse">
                    <button class="aspect-square h-full float-right">1</button>
                    <button class="w-full h-full float-right">1</button>
                    <button class="w-full h-full float-right">3</button>

                </div> -->
                                        </header>


                                        <main id="tide-main-content" un-bg="yellow" un-flex="1">
                                            <!-- 页面 -->
                                            <article></article>
                                            <!-- 评论 -->
                                            <article></article>
                                            <!-- TOC，从 lg 开始显示 -->
                                            <aside></aside>
                                        </main>
                                </div>
                        </div>
                        <script>
                            // let leftBar = document.querySelector('#tide-left-bar');
                            // document.querySelector('#tide-btn-nav').addEventListener('click', function () {
                            //     if (leftBar.hasAttribute('un-hidden'))
                            //         leftBar.removeAttribute('un-hidden');
                            //     else
                            //         leftBar.setAttribute('un-hidden', '');
                            // });
                            $('#tide-btn-nav').click(() => {
                                alert('1121');
                                if ($('#tide-left-bar').attr('un-hidden'))
                                    $('#tide-left-bar').removeAttr('un-hidden');
                                else
                                    $('#tide-left-bar').attr('un-hidden', '');
                            });
                        </script>
</body>

</html>