<% const tideCtx=get_ctx(site,config,theme,page) %>
<div id="tide-tags">
  <h1 class="un-m-0 un-mb-4 un-text-4xl un-text-txt-prim un-font-bold"><%= __('page_title.tags') %></h1>
  <div class="un-w-full un-flex un-flex-wrap un-gap-4">
    <%- list_tags(site.tags,{class:'tide-tag',style:false,separator:''}) %>
  </div>
</div>