@import url('./third-party/modern-normalize.min.css');

/* preflights */

html {
    --tide-color-primary: #3F72AF;
    --tide-color-secondary: #00ADB5;
    --tide-color-background-primary: #FFFFFF;
    --tide-color-background-secondary: #F7F7F7;
    --tide-color-text-primary: #323739;
    --tide-color-text-secondary: #5c6669;
    --tide-color-text-diminished: #EAECED;
    --tide-color-text-left-bar: #FFFFFF;
    --tide-color-focused-outline: #E36209;
    --tide-color-link: #3F72AF;
    --tide-color-link-hover: #3F72AF;
    --tide-color-link-visited: #00ADB5;
    --tide-color-code: #3F72AF;
    --tide-color-table-border: #E5E7EB;
    --tide-color-table-border-head: #F7F7F7;
    --tide-color-table-border-even: #F7F7F7;
    /* @apply text-base; 改为在 ejs 中直接指定，方便通过 js 修改 */
}

*:focus-visible {
    @apply outline-4 outline-fcs-ol;
}

a {
    @apply sc-link-default;
}

@unocss;

/* 自定义样式 */

/* 侧边栏 */
/* #tide-deco {
    position: fixed;
    left: 24rem;
    height: 100%;
    width: 12.5%;
    z-index: 30;
    pointer-events: none;
}

#tide-deco img {
    width: 100%;
    height: 100%;
} */

#tide-left-bar {
    /* box-sizing: content-box;
    border-image-source: url('../img/tide-deco.svg'); */
}

[dir="ltr"] [tide-left-bar-expanded="true"] #tide-left-bar {
    box-shadow: 1rem 0 20px 0 rgba(0, 0, 0, 0.25);
}

[dir="rtl"] [tide-left-bar-expanded="true"] #tide-left-bar {
    box-shadow: -1rem 0 20px 0 rgba(0, 0, 0, 0.25);
}

/* 默认小屏幕 */
/* 使用 [dir="ltr"] 而非 @apply ltr:…… ，因为后者在转换后会有空的样式，显示警告 */
[dir="ltr"] [tide-left-bar-expanded="true"] #tide-left-bar,
[dir="ltr"] [tide-left-bar-expanded="true"] #tide-content {
    @apply translate-x-75vw;
    /* @apply shadow-[-30px_0_30px_30px_rgba(0, 0, 0, 0.3)]; */
}

[dir="rtl"] [tide-left-bar-expanded="true"] #tide-left-bar,
[dir="rtl"] [tide-left-bar-expanded="true"] #tide-content {
    @apply -translate-x-75vw;
}

/* md 往后调整侧边栏宽度为 96 */
@media (min-width: 768px) {

    #tide-left-bar {
        @apply w-96;
    }

    [dir="ltr"] #tide-left-bar {
        @apply -left-96;
    }

    [dir="rtl"] #tide-left-bar {
        @apply -right-96 w-96;
    }


    [dir="ltr"] [tide-left-bar-expanded="true"] #tide-left-bar,
    [dir="ltr"] [tide-left-bar-expanded="true"] #tide-content {
        @apply translate-x-96;
    }

    [dir="rtl"] [tide-left-bar-expanded="true"] #tide-left-bar,
    [dir="rtl"] [tide-left-bar-expanded="true"] #tide-content {
        @apply -translate-x-96;
    }
}

/* xl 往后横向非文章页不再允许折叠 */
@media (min-width: 1280px) {
    @media (orientation: landscape) {

        [dir="ltr"] :not([tide-is-post]) #tide-left-bar,
        [dir="ltr"] :not([tide-is-post]) #tide-content {
            @apply translate-x-96;
        }

        [dir="rtl"] :not([tide-is-post]) #tide-left-bar,
        [dir="rtl"] :not([tide-is-post]) #tide-content {
            @apply -translate-x-96;
        }

        :not([tide-is-post]) #tide-content {
            @apply w-[calc(100%-24rem)];
        }

        :not([tide-is-post]) #tide-btn-nav {
            @apply hidden;
        }
    }
}