@import url('./third-party/modern-normalize.min.css');
@unocss;

/* 自定义样式 */

html {
    --tide-color-primary: black;
    --tide-color-secondary: black;
    --tide-color-background-primary: black;
    --tide-color-background-secondary: black;
    --tide-color-text-primary: black;
    --tide-color-text-secondary: black;
    --tide-color-text-diminished: black;
    --tide-color-focused-border: black;
    --tide-color-link: black;
    --tide-color-link-hover: black;
    --tide-color-link-visited: black;
    --tide-color-code: black;
    --tide-color-table-border: black;
    --tide-color-table-border-head: black;
    --tide-color-table-border-even: black;
}

html *:focus-visible {
    @apply border-4 border-blue;
}

/* 侧边栏 */

/* 默认小屏幕 */
/* 使用 [dir="ltr"] 而非 @apply ltr:…… ，因为后者在转换后会有空的样式，显示警告 */
[dir="ltr"] [tide-left-bar-expanded="true"] #tide-left-bar,
[dir="ltr"] [tide-left-bar-expanded="true"] #tide-content {
    @apply translate-x-75vw;
}

[dir="rtl"] [tide-left-bar-expanded="true"] #tide-left-bar,
[dir="rtl"] [tide-left-bar-expanded="true"] #tide-content {
    @apply -translate-x-75vw;
}

/* md 往后调整侧边栏宽度为 96 */
@media (min-width: 768px) {

    #tide-left-bar {
        @apply w-96;
    }

    [dir="ltr"] #tide-left-bar {
        @apply -left-96;
    }

    [dir="rtl"] #tide-left-bar {
        @apply -right-96 w-96;
    }


    [dir="ltr"] [tide-left-bar-expanded="true"] #tide-left-bar,
    [dir="ltr"] [tide-left-bar-expanded="true"] #tide-content {
        @apply translate-x-96;
    }

    [dir="rtl"] [tide-left-bar-expanded="true"] #tide-left-bar,
    [dir="rtl"] [tide-left-bar-expanded="true"] #tide-content {
        @apply -translate-x-96;
    }
}

/* xl 往后横向首页不再允许折叠 */
@media (min-width: 1280px) {
    @media (orientation: landscape) {

        [dir="ltr"] [tide-is-home="true"] #tide-left-bar,
        [dir="ltr"] [tide-is-home="true"] #tide-content {
            @apply translate-x-96;
        }

        [dir="rtl"] [tide-is-home="true"] #tide-left-bar,
        [dir="rtl"] [tide-is-home="true"] #tide-content {
            @apply -translate-x-96;
        }

        [tide-is-home="true"] #tide-content {
            @apply w-[calc(100%-24rem)];
        }

        [tide-is-home="true"] #tide-btn-nav {
            @apply hidden;
        }
    }
}