@unocss;

/*  升级到支持 Tailwind 4 的 UnoCSS 后，对于颜色的处理发生变化，变为使用 color-mix，
    然而在 cssvar-property 缺失 @property --un-outline-color-opacity 导致混合无效，
    color-mix in oklch 还会有偏色的问题，暂时通过脚本或手动替换为 in oklab。
*/
@property --un-outline-color-opacity {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 100%;
}

@media (prefers-color-scheme: no-preference) or (prefers-color-scheme: light) {
    :root:not([data-color-scheme]) #tide-btn-nav-icon-sun {
        @apply un-hidden;
    }

    :root[dir="ltr"] {
        --tide-background-image-sidebar: <TIDE_BACKGROUND_IMAGE_SIDEBAR_LIGHT_LTR>;
    }

    :root[dir="rtl"] {
        --tide-background-image-sidebar: <TIDE_BACKGROUND_IMAGE_SIDEBAR_LIGHT_RTL>;
    }

    :root {
        color-scheme: light;
        --tide-background-size-sidebar: <TIDE_BACKGROUND_SIZE_SIDEBAR_LIGHT>;
        --tide-background-position-sidebar: <TIDE_BACKGROUND_POSITION_SIDEBAR_LIGHT>;
        --tide-background-repeat-sidebar: <TIDE_BACKGROUND_REPEAT_SIDEBAR_LIGHT>;
        --tide-background-attachment-sidebar: <TIDE_BACKGROUND_ATTACHMENT_SIDEBAR_LIGHT>;
        --tide-color-primary: <TIDE_COLOR_PRIMARY_LIGHT>;
        --tide-color-secondary: <TIDE_COLOR_SECONDARY_LIGHT>;
        --tide-color-background-primary: <TIDE_COLOR_BACKGROUND_PRIMARY_LIGHT>;
        --tide-color-background-secondary: <TIDE_COLOR_BACKGROUND_SECONDARY_LIGHT>;
        --tide-color-background-sidebar: <TIDE_COLOR_BACKGROUND_SIDEBAR_LIGHT>;
        --tide-color-text-primary: <TIDE_COLOR_TEXT_PRIMARY_LIGHT>;
        --tide-color-text-secondary: <TIDE_COLOR_TEXT_SECONDARY_LIGHT>;
        --tide-color-text-diminished: <TIDE_COLOR_TEXT_DIMINISHED_LIGHT>;
        --tide-color-text-sidebar: <TIDE_COLOR_TEXT_SIDEBAR_LIGHT>;
        --tide-color-focused-outline: <TIDE_COLOR_FOCUSED_OUTLINE_LIGHT>;
        --tide-color-link: <TIDE_COLOR_LINK_LIGHT>;
        --tide-color-link-hover: <TIDE_COLOR_LINK_HOVER_LIGHT>;
        --tide-color-link-visited: <TIDE_COLOR_LINK_VISITED_LIGHT>;
        --tide-color-code-inline: <TIDE_COLOR_CODE_INLINE_LIGHT>;
        --tide-color-table-border: <TIDE_COLOR_TABLE_BORDER_LIGHT>;
        --tide-color-table-background-head: <TIDE_COLOR_TABLE_BACKGROUND_HEAD_LIGHT>;
        --tide-color-table-background-even: <TIDE_COLOR_TABLE_BACKGROUND_EVEN_LIGHT>;
    }
}

@media (prefers-color-scheme: dark) {
    :root:not([data-color-scheme]) #tide-btn-nav-icon-moon {
        @apply un-hidden;
    }

    :root[dir="ltr"] {
        --tide-background-image-sidebar: <TIDE_BACKGROUND_IMAGE_SIDEBAR_DARK_LTR>;
    }

    :root[dir="rtl"] {
        --tide-background-image-sidebar: <TIDE_BACKGROUND_IMAGE_SIDEBAR_DARK_RTL>;
    }

    :root {
        color-scheme: dark;
        --tide-background-size-sidebar: <TIDE_BACKGROUND_SIZE_SIDEBAR_DARK>;
        --tide-background-position-sidebar: <TIDE_BACKGROUND_POSITION_SIDEBAR_DARK>;
        --tide-background-repeat-sidebar: <TIDE_BACKGROUND_REPEAT_SIDEBAR_DARK>;
        --tide-background-attachment-sidebar: <TIDE_BACKGROUND_ATTACHMENT_SIDEBAR_DARK>;
        --tide-color-primary: <TIDE_COLOR_PRIMARY_DARK>;
        --tide-color-secondary: <TIDE_COLOR_SECONDARY_DARK>;
        --tide-color-background-primary: <TIDE_COLOR_BACKGROUND_PRIMARY_DARK>;
        --tide-color-background-secondary: <TIDE_COLOR_BACKGROUND_SECONDARY_DARK>;
        --tide-color-background-sidebar: <TIDE_COLOR_BACKGROUND_SIDEBAR_DARK>;
        --tide-color-text-primary: <TIDE_COLOR_TEXT_PRIMARY_DARK>;
        --tide-color-text-secondary: <TIDE_COLOR_TEXT_SECONDARY_DARK>;
        --tide-color-text-diminished: <TIDE_COLOR_TEXT_DIMINISHED_DARK>;
        --tide-color-text-sidebar: <TIDE_COLOR_TEXT_SIDEBAR_DARK>;
        --tide-color-focused-outline: <TIDE_COLOR_FOCUSED_OUTLINE_DARK>;
        --tide-color-link: <TIDE_COLOR_LINK_DARK>;
        --tide-color-link-hover: <TIDE_COLOR_LINK_HOVER_DARK>;
        --tide-color-link-visited: <TIDE_COLOR_LINK_VISITED_DARK>;
        --tide-color-code-inline: <TIDE_COLOR_CODE_INLINE_DARK>;
        --tide-color-table-border: <TIDE_COLOR_TABLE_BORDER_DARK>;
        --tide-color-table-background-head: <TIDE_COLOR_TABLE_BACKGROUND_HEAD_DARK>;
        --tide-color-table-background-even: <TIDE_COLOR_TABLE_BACKGROUND_EVEN_DARK>;
    }
}

:root[data-color-scheme="light"] #tide-btn-nav-icon-sun {
    @apply un-hidden;
}

:root[data-color-scheme="light"][dir="ltr"] {
    --tide-background-image-sidebar: <TIDE_BACKGROUND_IMAGE_SIDEBAR_LIGHT_LTR>;
}

:root[data-color-scheme="light"][dir="rtl"] {
    --tide-background-image-sidebar: <TIDE_BACKGROUND_IMAGE_SIDEBAR_LIGHT_RTL>;
}

:root[data-color-scheme="light"] {
    color-scheme: light;
    --tide-background-size-sidebar: <TIDE_BACKGROUND_SIZE_SIDEBAR_LIGHT>;
    --tide-background-position-sidebar: <TIDE_BACKGROUND_POSITION_SIDEBAR_LIGHT>;
    --tide-background-repeat-sidebar: <TIDE_BACKGROUND_REPEAT_SIDEBAR_LIGHT>;
    --tide-background-attachment-sidebar: <TIDE_BACKGROUND_ATTACHMENT_SIDEBAR_LIGHT>;
    --tide-color-primary: <TIDE_COLOR_PRIMARY_LIGHT>;
    --tide-color-secondary: <TIDE_COLOR_SECONDARY_LIGHT>;
    --tide-color-background-primary: <TIDE_COLOR_BACKGROUND_PRIMARY_LIGHT>;
    --tide-color-background-secondary: <TIDE_COLOR_BACKGROUND_SECONDARY_LIGHT>;
    --tide-color-background-sidebar: <TIDE_COLOR_BACKGROUND_SIDEBAR_LIGHT>;
    --tide-color-text-primary: <TIDE_COLOR_TEXT_PRIMARY_LIGHT>;
    --tide-color-text-secondary: <TIDE_COLOR_TEXT_SECONDARY_LIGHT>;
    --tide-color-text-diminished: <TIDE_COLOR_TEXT_DIMINISHED_LIGHT>;
    --tide-color-text-sidebar: <TIDE_COLOR_TEXT_SIDEBAR_LIGHT>;
    --tide-color-focused-outline: <TIDE_COLOR_FOCUSED_OUTLINE_LIGHT>;
    --tide-color-link: <TIDE_COLOR_LINK_LIGHT>;
    --tide-color-link-hover: <TIDE_COLOR_LINK_HOVER_LIGHT>;
    --tide-color-link-visited: <TIDE_COLOR_LINK_VISITED_LIGHT>;
    --tide-color-code-inline: <TIDE_COLOR_CODE_INLINE_LIGHT>;
    --tide-color-table-border: <TIDE_COLOR_TABLE_BORDER_LIGHT>;
    --tide-color-table-background-head: <TIDE_COLOR_TABLE_BACKGROUND_HEAD_LIGHT>;
    --tide-color-table-background-even: <TIDE_COLOR_TABLE_BACKGROUND_EVEN_LIGHT>;
}

:root[data-color-scheme="dark"] #tide-btn-nav-icon-moon {
    @apply un-hidden;
}

:root[data-color-scheme="dark"][dir="ltr"] {
    --tide-background-image-sidebar: <TIDE_BACKGROUND_IMAGE_SIDEBAR_DARK_LTR>;
}

:root[data-color-scheme="dark"][dir="rtl"] {
    --tide-background-image-sidebar: <TIDE_BACKGROUND_IMAGE_SIDEBAR_DARK_RTL>;
}

:root[data-color-scheme="dark"] {
    color-scheme: dark;
    --tide-background-size-sidebar: <TIDE_BACKGROUND_SIZE_SIDEBAR_DARK>;
    --tide-background-position-sidebar: <TIDE_BACKGROUND_POSITION_SIDEBAR_DARK>;
    --tide-background-repeat-sidebar: <TIDE_BACKGROUND_REPEAT_SIDEBAR_DARK>;
    --tide-background-attachment-sidebar: <TIDE_BACKGROUND_ATTACHMENT_SIDEBAR_DARK>;
    --tide-color-primary: <TIDE_COLOR_PRIMARY_DARK>;
    --tide-color-secondary: <TIDE_COLOR_SECONDARY_DARK>;
    --tide-color-background-primary: <TIDE_COLOR_BACKGROUND_PRIMARY_DARK>;
    --tide-color-background-secondary: <TIDE_COLOR_BACKGROUND_SECONDARY_DARK>;
    --tide-color-background-sidebar: <TIDE_COLOR_BACKGROUND_SIDEBAR_DARK>;
    --tide-color-text-primary: <TIDE_COLOR_TEXT_PRIMARY_DARK>;
    --tide-color-text-secondary: <TIDE_COLOR_TEXT_SECONDARY_DARK>;
    --tide-color-text-diminished: <TIDE_COLOR_TEXT_DIMINISHED_DARK>;
    --tide-color-text-sidebar: <TIDE_COLOR_TEXT_SIDEBAR_DARK>;
    --tide-color-focused-outline: <TIDE_COLOR_FOCUSED_OUTLINE_DARK>;
    --tide-color-link: <TIDE_COLOR_LINK_DARK>;
    --tide-color-link-hover: <TIDE_COLOR_LINK_HOVER_DARK>;
    --tide-color-link-visited: <TIDE_COLOR_LINK_VISITED_DARK>;
    --tide-color-code: <TIDE_COLOR_CODE_DARK>;
    --tide-color-table-border: <TIDE_COLOR_TABLE_BORDER_DARK>;
    --tide-color-table-background-head: <TIDE_COLOR_TABLE_BACKGROUND_HEAD_DARK>;
    --tide-color-table-background-even: <TIDE_COLOR_TABLE_BACKGROUND_EVEN_DARK>;
}

:root {
    /* Wind 4 提供了 --spacing */
    --tide-unocss-spacing: var(--spacing);
    --tide-description-marker: <TIDE_DESCRIPTION_MARKER>;
    --tide-font-global: <TIDE_FONT_GLOBAL>;
    --tide-font-site-title: <TIDE_FONT_SITE_TITLE>;
    --tide-font-site-subtitle: <TIDE_FONT_SITE_SUBTITLE>;
    --tide-font-prose: <TIDE_FONT_PROSE>;
    /* --tide-font-code: <TIDE_FONT_CODE>; */
    /* --tide-font-global: 'Noto Serif SC', serif; */
}

a {
    @apply un-sc-link-default;
}

button {
    -webkit-tap-highlight-color: transparent;
}

.tide-broken-img {
    @apply un-min-w-32 un-min-h-32;
}

.tide-table-wrapper {
    @apply un-overflow-auto;
    /* unocss prose 的 table 默认有 1em 0px 的 margin，转移到 wrapper 上。 */
    margin: 1em 0;
}

body {
    font-family: var(--tide-font-global);
    /* @apply un-font-(family-name:--tide-font-global); */
}

#tide-site-title {
    font-family: var(--tide-font-site-title);
    /* @apply un-font-(family-name:--tide-font-site-title); */
}

#tide-site-subtitle {
    font-family: var(--tide-font-site-subtitle);
    /* @apply un-font-(family-name:--tide-font-site-subtitle); */
}

.un-prose {
    font-family: var(--tide-font-prose) !important;
    /* @apply un-font-(family-name:--tide-font-prose)!; */
}

/* [un-prose] code:not(.not-prose) {
    font-family: var(--tide-font-code) !important; 由 prism.js 指定，否则可能出现行号对不上的问题。
} */

#tide-sidebar {
    background-image: var(--tide-background-image-sidebar);
    background-position: var(--tide-background-position-sidebar);
    background-repeat: var(--tide-background-repeat-sidebar);
    background-attachment: var(--tide-background-attachment-sidebar);
}

[tabindex]:not([tabindex="-1"]):focus,
a:focus,
button:focus,
input:focus,
select:focus:focus,
textarea:focus,
summary:focus {
    @apply un-outline-2 un-outline-offset-2 un-outline-fcs-ol! un-outline-solid;
}

.tide-paginator span {
    @apply un-inline-block;
    @apply un-mx-2;
    @apply un-text-txt-scnd;
}

.tide-paginator span.current {
    @apply un-underline;
    @apply un-underline-offset-4;
    @apply un-text-txt-prim;
}

.tide-paginator a {
    @apply un-inline-block;
    @apply un-mx-2;
    @apply un-sc-link-plain;
    @apply un-text-txt-scnd!;
}

.tide-toc,
.tide-toc-child,
.tide-toc-item {
    @apply un-p-0;
    @apply un-m-0;
    @apply un-list-none;
}

.tide-toc-child {
    @apply un-ps-4;
}

.tide-toc-link {
    /* un-sc-link-default 实际上多余。 */
    @apply un-sc-link-default;
    @apply un-text-txt-scnd!;
    @apply un-inline-block;
    @apply un-mb-4!;
}

.tide-toc-link:hover {
    @apply un-font-bold;
}

#tide-search-box::-webkit-search-cancel-button {
    @apply un-hidden;
}

#tide-search-result-list {
    @apply un-sc-clearfix;
    @apply un-p-0 un-m-0 un-mt-4;
}

#tide-search-results li {
    @apply un-list-none;
}

#tide-search-results .search-keyword {
    @apply un-bg-transparent;
    @apply un-font-bold;
}

#tide-search-results a {
    @apply un-sc-link-default;
    @apply un-text-txt-scnd!;
    @apply un-float-start un-clear-both;
    @apply un-inline-block;
    @apply un-max-w-full;
}

#tide-search-results .search-result-title {
    @apply un-sc-link-plain;
    @apply un-text-txt-prim!;
    @apply un-text-xl;
    @apply un-font-bold;
}

#tide-search-results .search-result-title:only-child {
    @apply un-mb-4;
}

#tide-search-results .search-result-title .search-keyword {
    @apply un-text-txt-prim;
}

#tide-search-results a:has(.search-result) {
    @apply un-mt-1 un-mb-4;
}

#tide-search-results .search-result {
    @apply un-m-0;
}

#tide-search-results .search-result .search-keyword {
    @apply un-text-txt-scnd;
}

.tide-category-link,
.tide-tag-link {
    @apply un-sc-link-plain;
    @apply un-text-prim!;
    @apply un-px-4 un-py-2;
    @apply un-border-(2 prim solid);
    @apply un-rounded-md;
    @apply un-overflow-hidden;
    @apply un-break-words;
}

.tide-category-count::before,
.tide-tag-count::before {
    @apply un-content-[var(--tide-description-marker)];
}

/* 插件样式修复 */

/* hbe 强制 ltr。 */
#hexo-blog-encrypt {
    direction: ltr;
}

/* 自定义样式 */

#tide-btn-nav-icon-bars {
    @apply un-inline;
}

#tide-btn-nav-icon-close {
    @apply un-hidden;
}

#tide-root[data-sidebar-expanded] #tide-btn-nav-icon-bars {
    @apply un-hidden;
}

#tide-root[data-sidebar-expanded] #tide-btn-nav-icon-close {
    @apply un-inline;
}

#tide-root:not([data-sidebar-expanded]) #tide-btn-nav-icon-bars {
    @apply un-inline;
}

#tide-root:not([data-sidebar-expanded]) #tide-btn-nav-icon-close {
    @apply un-hidden;
}

#tide-floating-widgets[data-extra-widgets] #tide-btn-toc,
#tide-floating-widgets[data-extra-widgets] #tide-btn-langs,
#tide-floating-widgets[data-extra-widgets] #tide-btn-interactions {
    @apply un-block;
}

#tide-floating-widgets[data-extra-widgets] #tide-btn-extra-widgets-icon-plus {
    @apply un-hidden;
}

#tide-floating-widgets[data-extra-widgets] #tide-btn-extra-widgets-icon-minus {
    @apply un-inline;
}

#tide-floating-widgets:not([data-extra-widgets]) #tide-btn-toc,
#tide-floating-widgets:not([data-extra-widgets]) #tide-btn-langs,
#tide-floating-widgets:not([data-extra-widgets]) #tide-btn-interactions {
    @apply un-hidden;
}

#tide-floating-widgets:not([data-extra-widgets]) #tide-btn-extra-widgets-icon-plus {
    @apply un-inline;
}

#tide-floating-widgets:not([data-extra-widgets]) #tide-btn-extra-widgets-icon-minus {
    @apply un-hidden;
}

/* 默认小屏幕 */

/* 侧栏默认整体滚动。 */
#tide-sidebar {
    width: min(var(--tide-unocss-spacing) * 120, 80vw);
    @apply un-overflow-auto;
}

#tide-sidebar {
    inset-inline-start: max(var(--tide-unocss-spacing) * -120, -80vw);
}

/* 使用 [dir="ltr"] 而非 @apply un-ltr:…… ，因为后者在转换后会有空的样式，显示警告。 */
:root[dir="ltr"] #tide-root[data-sidebar-expanded] #tide-sidebar,
:root[dir="ltr"] #tide-root[data-sidebar-expanded] #tide-content {
    transform: translateX(min(var(--tide-unocss-spacing) * 120, 80vw));
}

:root[dir="rtl"] #tide-root[data-sidebar-expanded] #tide-sidebar,
:root[dir="rtl"] #tide-root[data-sidebar-expanded] #tide-content {
    transform: translateX(max(var(--tide-unocss-spacing) * -120, -80vw));
}

#tide-site-title {
    @apply un-text-3xl;
}

#tide-navigation ul {
    @apply un-text-xl;
}

#tide-main-content {
    @apply un-px-4;
    @apply un-py-8;
}

.tide-image-figure {
    @apply un-relative;
    @apply un-max-w-4/5;
    @apply un-mx-auto;
}

.tide-image-inline-figure {
    @apply un-inline-block;
    @apply un-relative;
    @apply un-max-w-4/5;
    @apply un-mx-auto;
}

.tide-image-mask:has(+img:not([data-mask])),
.tide-image-mask:has(+img[data-unmasked]),
.tide-image-mask:has(+.pinch-zoom-container img:not([data-mask])),
.tide-image-mask:has(+.pinch-zoom-container img[data-unmasked]) {
    @apply un-invisible;
}

img[data-mask]:not([data-unmasked]) {
    @apply un-invisible;
}

.tide-image-mask {
    @apply un-absolute;
    @apply un-size-full;
    @apply un-bg-bg-scnd;
    @apply un-text-base;
    @apply un-text-txt-scnd;
    @apply un-text-center;
}

.tide-image-mask-controls {
    @apply un-absolute;
    @apply un-start-1/2 un-top-1/2;
    @apply -un-translate-1/2;
    /* @apply un-start-1/2 un-top-1/3; */
    /* @apply -un-translate-x-1/2 -un-translate-y-1/3; */
    @apply un-w-4/5 un-max-h-full;
    @apply un-p-4;
    @apply un-overflow-auto;
}

.tide-image-mask-controls p {
    @apply un-m-0 un-mb-4;
}

.tide-image-mask-controls a {
    @apply un-sc-link-default;
    @apply un-text-txt-scnd!;
    @apply un-inline-block;
    @apply un-mb-4;
}

@media (min-width: 768px) {
    #tide-site-title {
        @apply un-text-4xl;
    }

    #tide-navigation ul {
        @apply un-text-2xl;
    }

    #tide-main-content {
        @apply un-px-16;
    }
}

@media (orientation: landscape) and (min-width: 1280px) {

    :root[dir="ltr"] #tide-sidebar,
    :root[dir="ltr"] #tide-content {
        transform: translateX(min(var(--tide-unocss-spacing) * 120, 80vw));
    }

    :root[dir="rtl"] #tide-sidebar,
    :root[dir="rtl"] #tide-content {
        transform: translateX(max(var(--tide-unocss-spacing) * -120, -80vw));
    }

    #tide-content {
        width: calc(100% - min(var(--tide-unocss-spacing) * 120, 80vw));
    }

    #tide-btn-nav {
        @apply un-hidden;
    }

    .tide-image-figure {
        @apply un-max-w-1/2;
    }
}

@media (min-width: 1280px) {
    /* 1280*768 后侧栏整体不再允许滚动，导航部分允许滚动。 */
    @media (min-height: 768px) {
        #tide-sidebar {
            @apply un-overflow-clip;
        }

        #tide-navigation {
            @apply un-overflow-auto;
        }
    }
}

.tide-dialog {
    @apply un-hidden;
    @apply un-opacity-0;
    @apply un-sc-trans-default un-transition-discrete;
    @apply un-text-txt-prim;
}

.tide-dialog[open] {
    @apply un-block;
    @apply un-opacity-100;
}

.tide-side-panel {
    width: min(var(--tide-unocss-spacing) * 90, 100vw);
    @apply un-sc-trans-default;
}

:root[dir="ltr"] .tide-dialog .tide-side-panel {
    transform: translateX(max(var(--tide-unocss-spacing) * 90, 100vw));
}

:root[dir="rtl"] .tide-dialog .tide-side-panel {
    transform: translateX(min(var(--tide-unocss-spacing) * -90, -100vw));
}

:root .tide-dialog[open] .tide-side-panel {
    transform: translateX(0);
}

@starting-style {
    .tide-dialog[open] {
        @apply un-opacity-0;
    }

    :root[dir="ltr"] .tide-dialog[open] .tide-side-panel {
        transform: translateX(max(var(--tide-unocss-spacing) * 90, 100vw));
    }

    :root[dir="rtl"] .tide-dialog[open] .tide-side-panel {
        transform: translateX(min(var(--tide-unocss-spacing) * -90, -100vw));
    }
}

/* 高对比度优化 */

#tide-sidebar,
.tide-dialog-container,
iframe,
pre:has(code),
.gist {
    @apply un-outline-2 un-outline-transparent un-outline-solid;
}

@media (forced-colors: active) {
    .tide-dialog-mask {
        @apply un-bg-black;
    }
}