html {
    --tide-color-primary: black;
    --tide-color-secondary: black;
    --tide-color-background-primary: black;
    --tide-color-background-secondary: black;
    --tide-color-text-primary: black;
    --tide-color-text-secondary: black;
    --tide-color-text-diminished: black;
    --tide-color-link: black;
    --tide-color-link-hover: black;
    --tide-color-link-visited: black;
    --tide-color-code: black;
    --tide-color-table-border: black;
    --tide-color-table-border-head: black;
    --tide-color-table-border-even: black;
}

/* 默认小屏幕 */
[dir="ltr"] [tide-left-bar-expanded="true"] #tide-left-bar,
[dir="ltr"] [tide-left-bar-expanded="true"] #tide-content {
    transform: translateX(75vw);
}

[dir="rtl"] [tide-left-bar-expanded="true"] #tide-left-bar,
[dir="rtl"] [tide-left-bar-expanded="true"] #tide-content {
    transform: translateX(-75vw);
}

/* md 往后调整侧边栏宽度为 96 */
@media (min-width: 768px) {

    [dir="ltr"] [tide-left-bar-expanded="true"] #tide-left-bar,
    [dir="ltr"] [tide-left-bar-expanded="true"] #tide-content {
        transform: translateX(24rem);
    }

    [dir="rtl"] [tide-left-bar-expanded="true"] #tide-left-bar,
    [dir="rtl"] [tide-left-bar-expanded="true"] #tide-content {
        transform: translateX(-24rem);
    }
}

/* xl 往后横向首页不再允许折叠 */
@media (min-width: 1280px) {
    @media (orientation: landscape) {

        [dir="ltr"] [tide-is-home="true"] #tide-left-bar,
        [dir="ltr"] [tide-is-home="true"] #tide-content {
            transform: translateX(24rem);
        }

        [dir="rtl"] [tide-is-home="true"] #tide-left-bar,
        [dir="rtl"] [tide-is-home="true"] #tide-content {
            transform: translateX(-24rem);
        }

        [tide-is-home="true"] #tide-content {
            width: calc(100% - 24rem);
        }

        [tide-is-home="true"] #tide-btn-nav {
            display: none;
        }
    }
}