@import url('./third-party/modern-normalize.min.css');

/* preflights */

html {
    --tide-color-primary: #3F72AF;
    --tide-color-secondary: #00ADB5;
    --tide-color-background-primary: #FFFFFF;
    --tide-color-background-secondary: #FAFAFA;
    --tide-color-text-primary: #323739;
    --tide-color-text-secondary: #5c6669;
    --tide-color-text-diminished: #EAECED;
    --tide-color-text-left-bar: #FFFFFF;
    --tide-color-focused-outline: #E36209;
    --tide-color-link: #3F72AF;
    --tide-color-link-hover: #3F72AF;
    --tide-color-link-visited: #00ADB5;
    --tide-color-code: #3F72AF;
    --tide-color-table-border: #E5E7EB;
    --tide-color-table-background-head: #F3F3F3;
    --tide-color-table-background-even: #FAFAFA;
}

* {
    scrollbar-width: thin;
}

*:focus-visible {outline-width:4px;outline-color:var(--tide-color-focused-outline);
}

a {display:inline;color:var(--tide-color-link-hover);text-decoration-line:underline;transition-property:all;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms;transition-duration:200ms;
}

a:hover{display:inline-block;--un-translate-y:-2px;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}

a:link{color:var(--tide-color-link);}

a:visited{color:var(--tide-color-link-visited);}

button {
    -webkit-tap-highlight-color: transparent;
}

/* layer: preflights */

*,::before,::after{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}

::backdrop{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}

/* layer: icons */

[un-i~="logos-hexo"]{background:url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 256 295' display='inline-block' vertical-align='middle' width='0.87em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='%230E83CD' d='M128.04 0L.574 73.768L.59 221.079l127.754 73.465l127.464-73.769l.002-147.23z'/%3E%3Cpath fill='%23FFF' d='m68.242 211.051l.01-63.7l.01-63.702l11.573-6.768l11.085 6.56l.12 26.03l.12 26.031h74.075l.12-26.013l.12-26.014l11.257-6.505l11.412 6.68l-.006 63.658l-.005 63.659l-11.298 6.31l-11.361-6.392l-.12-25.885l-.12-25.886H91.16l-.12 25.878l.034 26.008l-11.36 6.663z'/%3E%3C/svg%3E") no-repeat;background-size:100% 100%;background-color:transparent;display:inline-block;vertical-align:middle;width:0.87em;height:1em;}

/* layer: typography */

:is([un-prose=""],.prose) :where(h1,h2,h3,h4,h5,h6):not(:where(.not-prose,.not-prose *)){color:var(--un-prose-headings);font-weight:600;line-height:1.25;}

:is([un-prose=""],.prose) :where(a):not(:where(.not-prose,.not-prose *)){color:var(--un-prose-links);text-decoration:underline;font-weight:500;transition:transform ease-in-out 0.2s;}

:is([un-prose=""],.prose) :where(a code):not(:where(.not-prose,.not-prose *)){color:var(--un-prose-links);}

:is([un-prose=""],.prose) :where(p,ul,ol,pre):not(:where(.not-prose,.not-prose *)){margin:1em 0;line-height:1.75;}

:is([un-prose=""],.prose) :where(blockquote):not(:where(.not-prose,.not-prose *)){margin:1em 0;padding-left:1em;font-style:italic;border-left:.25em solid var(--un-prose-borders);}

:is([un-prose=""],.prose) :where(h1):not(:where(.not-prose,.not-prose *)){margin:1rem 0;font-size:2.25em;}

:is([un-prose=""],.prose) :where(h2):not(:where(.not-prose,.not-prose *)){margin:1.75em 0 .5em;font-size:1.75em;}

:is([un-prose=""],.prose) :where(h3):not(:where(.not-prose,.not-prose *)){margin:1.5em 0 .5em;font-size:1.375em;}

:is([un-prose=""],.prose) :where(h4):not(:where(.not-prose,.not-prose *)){margin:1em 0;font-size:1.125em;}

:is([un-prose=""],.prose) :where(img,video):not(:where(.not-prose,.not-prose *)){max-width:100%;}

:is([un-prose=""],.prose) :where(figure,picture):not(:where(.not-prose,.not-prose *)){margin:1em 0;}

:is([un-prose=""],.prose) :where(figcaption):not(:where(.not-prose,.not-prose *)){color:var(--un-prose-captions);font-size:.875em;}

:is([un-prose=""],.prose) :where(code):not(:where(.not-prose,.not-prose *)){color:var(--un-prose-code);font-size:.875em;font-weight:600;font-family:ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;}

:is([un-prose=""],.prose) :where(:not(pre) > code):not(:where(.not-prose,.not-prose *))::before,:is([un-prose=""],.prose) :where(:not(pre) > code):not(:where(.not-prose,.not-prose *))::after{content:"`";}

:is([un-prose=""],.prose) :where(pre):not(:where(.not-prose,.not-prose *)){padding:1.25rem 1.5rem;overflow-x:auto;border-radius:.375rem;}

:is([un-prose=""],.prose) :where(pre,code):not(:where(.not-prose,.not-prose *)){white-space:pre;word-spacing:normal;word-break:normal;word-wrap:normal;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;hyphens:none;background:transparent;}

:is([un-prose=""],.prose) :where(pre code):not(:where(.not-prose,.not-prose *)){font-weight:inherit;}

:is([un-prose=""],.prose) :where(ol,ul):not(:where(.not-prose,.not-prose *)){padding-left:1.25em;}

:is([un-prose=""],.prose) :where(ol):not(:where(.not-prose,.not-prose *)){list-style-type:decimal;}

:is([un-prose=""],.prose) :where(ol[type="A"]):not(:where(.not-prose,.not-prose *)){list-style-type:upper-alpha;}

:is([un-prose=""],.prose) :where(ol[type="a"]):not(:where(.not-prose,.not-prose *)){list-style-type:lower-alpha;}

:is([un-prose=""],.prose) :where(ol[type="A" s]):not(:where(.not-prose,.not-prose *)){list-style-type:upper-alpha;}

:is([un-prose=""],.prose) :where(ol[type="a" s]):not(:where(.not-prose,.not-prose *)){list-style-type:lower-alpha;}

:is([un-prose=""],.prose) :where(ol[type="I"]):not(:where(.not-prose,.not-prose *)){list-style-type:upper-roman;}

:is([un-prose=""],.prose) :where(ol[type="i"]):not(:where(.not-prose,.not-prose *)){list-style-type:lower-roman;}

:is([un-prose=""],.prose) :where(ol[type="I" s]):not(:where(.not-prose,.not-prose *)){list-style-type:upper-roman;}

:is([un-prose=""],.prose) :where(ol[type="i" s]):not(:where(.not-prose,.not-prose *)){list-style-type:lower-roman;}

:is([un-prose=""],.prose) :where(ol[type="1"]):not(:where(.not-prose,.not-prose *)){list-style-type:decimal;}

:is([un-prose=""],.prose) :where(ul):not(:where(.not-prose,.not-prose *)){list-style-type:disc;}

:is([un-prose=""],.prose) :where(ol > li):not(:where(.not-prose,.not-prose *))::marker,:is([un-prose=""],.prose) :where(ul > li):not(:where(.not-prose,.not-prose *))::marker,:is([un-prose=""],.prose) :where(summary):not(:where(.not-prose,.not-prose *))::marker{color:var(--un-prose-lists);}

:is([un-prose=""],.prose) :where(hr):not(:where(.not-prose,.not-prose *)){margin:2em 0;border:1px var(--tide-color-text-diminished) solid;}

:is([un-prose=""],.prose) :where(table):not(:where(.not-prose,.not-prose *)){display:block;margin:1em 0;border-collapse:separate;overflow-x:auto;table-layout:auto;border-spacing:0;border:1px var(--tide-color-table-border) solid;}

:is([un-prose=""],.prose) :where(tr):not(:where(.not-prose,.not-prose *)):nth-child(2n){background:var(--tide-color-table-background-even);}

:is([un-prose=""],.prose) :where(td,th):not(:where(.not-prose,.not-prose *)){border:1px solid var(--un-prose-borders);padding:.625em 1em;}

:is([un-prose=""],.prose) :where(abbr):not(:where(.not-prose,.not-prose *)){cursor:help;}

:is([un-prose=""],.prose) :where(kbd):not(:where(.not-prose,.not-prose *)){color:var(--un-prose-code);border:1px solid;padding:.25rem .5rem;font-size:.875em;border-radius:.25rem;}

:is([un-prose=""],.prose) :where(details):not(:where(.not-prose,.not-prose *)){margin:1em 0;padding:1.25rem 1.5rem;background:var(--un-prose-bg-soft);}

:is([un-prose=""],.prose) :where(summary):not(:where(.not-prose,.not-prose *)){cursor:pointer;font-weight:600;}

:is([un-prose=""],.prose) :where(a):not(:where(.not-prose,.not-prose *)):link{color:var(--tide-color-link);}

:is([un-prose=""],.prose) :where(a):not(:where(.not-prose,.not-prose *)):hover{display:inline-block;transform:translateY(-2px);color:var(--tide-color-link-hover);}

:is([un-prose=""],.prose) :where(a):not(:where(.not-prose,.not-prose *)):visited{color:var(--tide-color-link-visited);}

:is([un-prose=""],.prose) :where(code:not([class])):not(:where(.not-prose,.not-prose *)){color:var(--tide-color-code);}

:is([un-prose=""],.prose) :where(td, th):not(:where(.not-prose,.not-prose *)){border-left:1px var(--tide-color-table-border) solid;}

:is([un-prose=""],.prose) :where(td):not(:where(.not-prose,.not-prose *)):first-child,:is([un-prose=""],.prose) :where( th):not(:where(.not-prose,.not-prose *)):first-child{border-left:none;}

:is([un-prose=""],.prose) :where(td):not(:where(.not-prose,.not-prose *)){width:100%;}

:is([un-prose=""],.prose) :where(th):not(:where(.not-prose,.not-prose *)){background:var(--tide-color-table-background-head);border-bottom:1px var(--tide-color-table-border) solid;}

:is([un-prose=""],.prose) :where(figure):not(:where(.not-prose,.not-prose *)){text-align:center;}

[un-prose=""]{color:var(--un-prose-body);max-width:65ch;}

/* layer: shortcuts */

[un-sc-link-plain=""]{display:inline;color:var(--tide-color-text-primary);text-decoration:none;transition:none;}

[un-sc-btn-default=""]{display:flex;cursor:pointer;align-items:center;justify-content:center;border-width:2px;border-color:var(--tide-color-primary);border-style:solid;background-color:transparent;color:var(--tide-color-primary);transition-property:all;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms;transition-duration:200ms;}

[un-sc-btn-default=""]:hover{--un-scale-x:1.05;--un-scale-y:1.05;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}

[un-sc-btn-default=""]:active{--un-scale-x:0.95;--un-scale-y:0.95;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}

[un-sc-link-plain=""]:hover{transform:none;text-decoration-line:underline;}

[un-sc-btn-default=""]:active:disabled{transform:none;}

[un-sc-btn-default=""]:hover:disabled{transform:none;}

[un-sc-btn-default=""]:disabled{cursor:not-allowed;opacity:0.5;}

[un-sc-trans-default=""]{transition-property:all;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms;transition-duration:200ms;}

/* layer: default */

[un-fixed=""]{position:fixed;}

[un-relative=""]{position:relative;}

.-left-32,
[dir="rtl"] [un-rtl~="-left-32"]{left:-8rem;}

.-left-75vw,
[dir="ltr"] [un-ltr~="-left-75vw"]{left:-75vw;}

.-right-32,
[dir="ltr"] [un-ltr~="-right-32"]{right:-8rem;}

.-right-75vw,
[dir="rtl"] [un-rtl~="-right-75vw"]{right:-75vw;}

.left-32,
[dir="rtl"] [un-rtl~="left-32"]{left:8rem;}

.right-32,
[dir="ltr"] [un-ltr~="right-32"]{right:8rem;}

[un-bottom~="\34 "]{bottom:1rem;}

[un-right~="\34 "]{right:1rem;}

[un-z~="\33 0"]{z-index:30;}

.float-left,
[dir="ltr"] [un-ltr~="float-left"],
[dir="rtl"] [un-rtl~="float-left"]{float:left;}

.float-right,
[dir="ltr"] [un-ltr~="float-right"],
[dir="rtl"] [un-rtl~="float-right"]{float:right;}

.my{margin-top:1rem;margin-bottom:1rem;}

[un-mx~="\31 "]{margin-left:0.25rem;margin-right:0.25rem;}

.ml-4,
[dir="ltr"] [un-ltr~="ml-4"],
[dir="rtl"] [un-rtl~="ml-4"]{margin-left:1rem;}

.mr-4,
[dir="ltr"] [un-ltr~="mr-4"],
[dir="rtl"] [un-rtl~="mr-4"]{margin-right:1rem;}

[un-mb~="\38 "]{margin-bottom:2rem;}

[un-inline-block=""]{display:inline-block;}

[un-hidden=""]{display:none;}

[un-h~="\31 2"]{height:3rem;}

[un-h~="\31 6"]{height:4rem;}

[un-h~="\36 4"]{height:16rem;}

[un-h~="\39 6"]{height:24rem;}

[un-h~="full"]{height:100%;}

[un-min-w~="\36 4"]{min-width:16rem;}

[un-w~="\31 \/4"]{width:25%;}

[un-w~="\31 2"]{width:3rem;}

[un-w~="\33 \/4"]{width:75%;}

[un-w~="\33 2"]{width:8rem;}

[un-w~="\37 5vw"]{width:75vw;}

[un-w~="auto"]{width:auto;}

[un-w~="full"]{width:100%;}

[un-flex=""],
[un-flex~="\~"]{display:flex;}

[un-inline-flex=""]{display:inline-flex;}

[un-flex~="\31 "]{flex:1 1 0%;}

[un-flex~="initial"]{flex:0 1 auto;}

[un-flex~="none"]{flex:none;}

[un-flex~="col"]{flex-direction:column;}

[un-list~="none"]{list-style-type:none;}

[un-items~="start"]{align-items:flex-start;}

[un-items~="center"]{align-items:center;}

[un-self~="center"]{align-self:center;}

[un-justify~="between"]{justify-content:space-between;}

[un-justify~="stretch"]{justify-content:stretch;}

[un-overflow~="auto"]{overflow:auto;}

.b-prim{border-color:var(--tide-color-primary);}

.b-scnd{border-color:var(--tide-color-secondary);}

.bg-b-prim,
[un-bg~="b-prim"]{background-color:var(--tide-color-background-primary);}

[un-bg~="prim"]{background-color:var(--tide-color-primary);}

[un-bg~="red"]{--un-bg-opacity:1;background-color:rgb(248 113 113 / var(--un-bg-opacity));}

[un-p~="\30 "]{padding:0;}

[un-p~="\38 "]{padding:2rem;}

[un-px~="\31 6"]{padding-left:4rem;padding-right:4rem;}

[un-text~="center"]{text-align:center;}

[un-text="\32 xl"],
[un-text~="\32 xl"]{font-size:1.5rem;line-height:2rem;}

[un-text="\33 xl"]{font-size:1.875rem;line-height:2.25rem;}

[un-text="base"]{font-size:1rem;line-height:1.5rem;}

[un-text="lg"]{font-size:1.125rem;line-height:1.75rem;}

[un-text="xl"]{font-size:1.25rem;line-height:1.75rem;}

[un-text~="\34 xl"]{font-size:2.25rem;line-height:2.5rem;}

.text-t-prim{color:var(--tide-color-text-primary);}

[un-text~="\!t-lb"]{color:var(--tide-color-text-left-bar) !important;}

[un-text~="t-lb"]{color:var(--tide-color-text-left-bar);}

[un-font~="bold"]{font-weight:700;}

.tab{-moz-tab-size:4;-o-tab-size:4;tab-size:4;}

/* 自定义样式 */

html.tide-large-font {
    font-size: 32px;
    /* 直接调整基础字体，不要用 unocss 的 text-lg 等，目的只是调节 rem 值 */
}

/* 斜角，暂时舍弃，因为如果使用过渡效果会穿帮，而且 rtl 下有白色接缝 */
/* #tide-deco {
    @apply sc-trans-default left-0;
} */

/* [dir="rtl"] #tide-deco {
    transform: rotateY(180deg)
} */

/* 暂时去掉 shadow，因为 tide-content 也移动了，tide-left-bar 就不像是浮在上面的一层 */
/* [tide-left-bar-expanded="true"] #tide-left-bar { */
    /* box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.5); */
    /* unocss 精细控制不好使，这里写原生 */
/* } */

[tide-left-bar-expanded="true"] #tide-btn-nav-icon-bars {display:none;
}

[tide-left-bar-expanded="true"] #tide-btn-nav-icon-close {display:inline;
}

[tide-left-bar-expanded="false"] #tide-btn-nav-icon-bars {display:inline;
}

[tide-left-bar-expanded="false"] #tide-btn-nav-icon-close {display:none;
}

/* 默认小屏幕 */
/* 侧栏默认整体滚动 */
#tide-left-bar {overflow:auto;
}

/* 使用 [dir="ltr"] 而非 @apply ltr:…… ，因为后者在转换后会有空的样式，显示警告 */
[dir="ltr"] [tide-left-bar-expanded="true"] #tide-left-bar,
[dir="ltr"] [tide-left-bar-expanded="true"] #tide-content {
    /* @apply shadow-[-30px_0_30px_30px_rgba(0, 0, 0, 0.3)]; */--un-translate-x:75vw;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));
}

[dir="rtl"] [tide-left-bar-expanded="true"] #tide-left-bar,
[dir="rtl"] [tide-left-bar-expanded="true"] #tide-content {--un-translate-x:-75vw;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));
}

/* md 往后调整侧边栏宽度为 96 */
@media (min-width: 768px) {

    #tide-left-bar {width:24rem;
    }

    [dir="ltr"] #tide-left-bar {left:-24rem;
    }

    [dir="rtl"] #tide-left-bar {right:-24rem;width:24rem;
    }

    [dir="ltr"] [tide-left-bar-expanded="true"] #tide-left-bar,
    [dir="ltr"] [tide-left-bar-expanded="true"] #tide-content {--un-translate-x:24rem;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));
    }

    [dir="rtl"] [tide-left-bar-expanded="true"] #tide-left-bar,
    [dir="rtl"] [tide-left-bar-expanded="true"] #tide-content {--un-translate-x:-24rem;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));
    }
}

/* xl 往后非文章页横向不再允许折叠 */
@media (orientation: landscape) {

    @media (min-width: 1280px) {
        /* 1280*768 后侧栏整体不再允许滚动，导航部分允许滚动 */
        @media (min-height: 768px) {
            #tide-left-bar {overflow:clip;
            }

            #tide-navigation {overflow:auto;
            }
        }

        [dir="ltr"] :not([tide-is-post]) #tide-left-bar,
        [dir="ltr"] :not([tide-is-post]) #tide-content {--un-translate-x:24rem;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));
        }

        [dir="rtl"] :not([tide-is-post]) #tide-left-bar,
        [dir="rtl"] :not([tide-is-post]) #tide-content {--un-translate-x:-24rem;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));
        }

        /* [dir="ltr"] :not([tide-is-post]) [tide-left-bar-expanded="true"] #tide-left-bar,
        [dir="rtl"] :not([tide-is-post]) [tide-left-bar-expanded="true"] #tide-left-bar {
            @apply shadow-none;
        } */

        /* 只在 1280*768 后展示斜角 */
        /* [dir="ltr"] :not([tide-is-post]) [tide-left-bar-expanded="true"] #tide-deco {
            @apply fixed left-96 h-full z-30 pointer-events-none;
        } */

        /* [dir="rtl"] :not([tide-is-post]) [tide-left-bar-expanded="true"] #tide-deco {
            @apply fixed right-96 h-full z-30 pointer-events-none;
        } */

        #tide-deco #triangle-big {fill:var(--tide-color-primary);
        }

        :not([tide-is-post]) #tide-content {width:calc(100% - 24rem);
        }

        :not([tide-is-post]) #tide-btn-nav {display:none;
        }
    }
}