@import url('./third-party/modern-normalize.min.css');
/* @import url('./tide.mixin.css'); */
/* layer: preflights */
*,::before,::after{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}
::backdrop{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}
/* layer: typography */
.prose :where(h1,h2,h3,h4,h5,h6):not(:where(.not-prose,.not-prose *)){color:var(--un-prose-headings);font-weight:600;line-height:1.25;}
.prose :where(a):not(:where(.not-prose,.not-prose *)){color:var(--un-prose-links);text-decoration:underline;font-weight:500;}
.prose :where(a code):not(:where(.not-prose,.not-prose *)){color:var(--un-prose-links);}
.prose :where(p,ul,ol,pre):not(:where(.not-prose,.not-prose *)){margin:1em 0;line-height:1.75;}
.prose :where(blockquote):not(:where(.not-prose,.not-prose *)){margin:1em 0;padding-left:1em;font-style:italic;border-left:.25em solid var(--un-prose-borders);}
.prose :where(h1):not(:where(.not-prose,.not-prose *)){margin:1rem 0;font-size:2.25em;}
.prose :where(h2):not(:where(.not-prose,.not-prose *)){margin:1.75em 0 .5em;font-size:1.75em;}
.prose :where(h3):not(:where(.not-prose,.not-prose *)){margin:1.5em 0 .5em;font-size:1.375em;}
.prose :where(h4):not(:where(.not-prose,.not-prose *)){margin:1em 0;font-size:1.125em;}
.prose :where(img,video):not(:where(.not-prose,.not-prose *)){max-width:100%;}
.prose :where(figure,picture):not(:where(.not-prose,.not-prose *)){margin:1em 0;}
.prose :where(figcaption):not(:where(.not-prose,.not-prose *)){color:var(--un-prose-captions);font-size:.875em;}
.prose :where(code):not(:where(.not-prose,.not-prose *)){color:var(--un-prose-code);font-size:.875em;font-weight:600;font-family:ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;}
.prose :where(:not(pre) > code):not(:where(.not-prose,.not-prose *))::before,.prose :where(:not(pre) > code):not(:where(.not-prose,.not-prose *))::after{content:"`";}
.prose :where(pre):not(:where(.not-prose,.not-prose *)){padding:1.25rem 1.5rem;overflow-x:auto;border-radius:.375rem;}
.prose :where(pre,code):not(:where(.not-prose,.not-prose *)){white-space:pre;word-spacing:normal;word-break:normal;word-wrap:normal;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;hyphens:none;background:transparent;}
.prose :where(pre code):not(:where(.not-prose,.not-prose *)){font-weight:inherit;}
.prose :where(ol,ul):not(:where(.not-prose,.not-prose *)){padding-left:1.25em;}
.prose :where(ol):not(:where(.not-prose,.not-prose *)){list-style-type:decimal;}
.prose :where(ol[type="A"]):not(:where(.not-prose,.not-prose *)){list-style-type:upper-alpha;}
.prose :where(ol[type="a"]):not(:where(.not-prose,.not-prose *)){list-style-type:lower-alpha;}
.prose :where(ol[type="A" s]):not(:where(.not-prose,.not-prose *)){list-style-type:upper-alpha;}
.prose :where(ol[type="a" s]):not(:where(.not-prose,.not-prose *)){list-style-type:lower-alpha;}
.prose :where(ol[type="I"]):not(:where(.not-prose,.not-prose *)){list-style-type:upper-roman;}
.prose :where(ol[type="i"]):not(:where(.not-prose,.not-prose *)){list-style-type:lower-roman;}
.prose :where(ol[type="I" s]):not(:where(.not-prose,.not-prose *)){list-style-type:upper-roman;}
.prose :where(ol[type="i" s]):not(:where(.not-prose,.not-prose *)){list-style-type:lower-roman;}
.prose :where(ol[type="1"]):not(:where(.not-prose,.not-prose *)){list-style-type:decimal;}
.prose :where(ul):not(:where(.not-prose,.not-prose *)){list-style-type:disc;}
.prose :where(ol > li):not(:where(.not-prose,.not-prose *))::marker,.prose :where(ul > li):not(:where(.not-prose,.not-prose *))::marker,.prose :where(summary):not(:where(.not-prose,.not-prose *))::marker{color:var(--un-prose-lists);}
.prose :where(hr):not(:where(.not-prose,.not-prose *)){margin:2em 0;border:1px var(--tide-color-text-diminished) solid;}
.prose :where(table):not(:where(.not-prose,.not-prose *)){display:block;margin:1em 0;border-collapse:separate;overflow-x:auto;table-layout:auto;border-spacing:0;border:2px var(--tide-color-table-border) solid;}
.prose :where(tr):not(:where(.not-prose,.not-prose *)):nth-child(2n){background:var(--tide-color-table-background-even);}
.prose :where(td,th):not(:where(.not-prose,.not-prose *)){border:1px solid var(--un-prose-borders);padding:.625em 1em;}
.prose :where(abbr):not(:where(.not-prose,.not-prose *)){cursor:help;}
.prose :where(kbd):not(:where(.not-prose,.not-prose *)){color:var(--un-prose-code);border:1px solid;padding:.25rem .5rem;font-size:.875em;border-radius:.25rem;}
.prose :where(details):not(:where(.not-prose,.not-prose *)){margin:1em 0;padding:1.25rem 1.5rem;background:var(--un-prose-bg-soft);}
.prose :where(summary):not(:where(.not-prose,.not-prose *)){cursor:pointer;font-weight:600;}
.prose :where(a):not(:where(.not-prose,.not-prose *)):link{color:var(--tide-color-link);}
.prose :where(a):not(:where(.not-prose,.not-prose *)):hover{display:inline-block;transform:translateY(-2px);}
.prose :where(a):not(:where(.not-prose,.not-prose *)):visited{color:var(--tide-color-link-visited);}
.prose :where(code:not([class])):not(:where(.not-prose,.not-prose *)){color:var(--tide-color-code);}
.prose :where(td, th):not(:where(.not-prose,.not-prose *)){border-left:1px var(--tide-color-table-border) solid;}
.prose :where(td):not(:where(.not-prose,.not-prose *)):first-child,.prose :where( th):not(:where(.not-prose,.not-prose *)):first-child{border-left:none;}
.prose :where(td):not(:where(.not-prose,.not-prose *)){width:100%;}
.prose :where(th):not(:where(.not-prose,.not-prose *)){background:var(--tide-color-table-background-head);border-bottom:1px var(--tide-color-table-border) solid;}
.prose :where(figure):not(:where(.not-prose,.not-prose *)){text-align:center;}
.prose{color:var(--un-prose-body);max-width:65ch;}
/* layer: default */
[un-fixed=""]{position:fixed;}
[un-relative=""]{position:relative;}
.-left-16,
[dir="rtl"] [un-rtl~="-left-16"]{left:-4rem;}
.-left-72{left:-18rem;}
.-left-75vw,
[dir="ltr"] [un-ltr~="-left-75vw"]{left:-75vw;}
.-right-16,
[dir="ltr"] [un-ltr~="-right-16"]{right:-4rem;}
.-right-72{right:-18rem;}
.-right-75vw,
[dir="rtl"] [un-rtl~="-right-75vw"]{right:-75vw;}
.left-0{left:0;}
.left-16,
[dir="rtl"] [un-rtl~="left-16"]{left:4rem;}
.left-72{left:18rem;}
.right-0{right:0;}
.right-16,
[dir="ltr"] [un-ltr~="right-16"]{right:4rem;}
.right-72{right:18rem;}
[dir="ltr"] .ltr\:-left-96{left:-24rem;}
[dir="rtl"] .rtl\:-right-96{right:-24rem;}
.float-left,
[dir="ltr"] [un-ltr~="float-left"],
[dir="rtl"] [un-rtl~="float-left"]{float:left;}
.float-right,
[dir="ltr"] [un-ltr~="float-right"],
[dir="rtl"] [un-rtl~="float-right"]{float:right;}
.ml-4,
[dir="ltr"] [un-ltr~="ml-4"],
[dir="rtl"] [un-rtl~="ml-4"]{margin-left:1rem;}
.mr-4,
[dir="ltr"] [un-ltr~="mr-4"],
[dir="rtl"] [un-rtl~="mr-4"]{margin-right:1rem;}
.w-96{width:24rem;}
[un-h~="\31 2"]{height:3rem;}
[un-h~="\31 6"]{height:4rem;}
[un-h~="full"]{height:100%;}
[un-w~="\31 2"]{width:3rem;}
[un-w~="\37 5vw"]{width:75vw;}
[un-w~="full"]{width:100%;}
[un-flex=""],
[un-flex~="\~"]{display:flex;}
[un-flex~="\31 "]{flex:1 1 0%;}
[un-flex~="col"]{flex-direction:column;}
[un-items~="center"]{align-items:center;}
[un-justify~="stretch"]{justify-content:stretch;}
[un-overflow~="auto"]{overflow:auto;}
.bg-b-prim{background-color:var(--tide-color-background-primary);}
[un-bg~="blue"]{--un-bg-opacity:1;background-color:rgb(96 165 250 / var(--un-bg-opacity));}
[un-bg~="green"]{--un-bg-opacity:1;background-color:rgb(74 222 128 / var(--un-bg-opacity));}
[un-bg~="yellow"]{--un-bg-opacity:1;background-color:rgb(250 204 21 / var(--un-bg-opacity));}
.text-t-prim{color:var(--tide-color-text-primary);}
.tab{-moz-tab-size:4;-o-tab-size:4;tab-size:4;}
[un-transition-transform=""]{transition-property:transform;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms;}
[un-ease-in-out=""]{transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);}
@media (min-width: 768px){
[dir="ltr"] [un-md~="ltr\:-left-96"]{left:-24rem;}
[dir="rtl"] [un-md~="rtl\:-right-96"]{right:-24rem;}
[un-md~="w-96"]{width:24rem;}
}

html {
    --tide-color-primary: black;
    --tide-color-secondary: black;
    --tide-color-background-primary: black;
    --tide-color-background-secondary: black;
    --tide-color-text-primary: black;
    --tide-color-text-secondary: black;
    --tide-color-text-diminished: black;
    --tide-color-link: black;
    --tide-color-link-hover: black;
    --tide-color-link-visited: black;
    --tide-color-code: black;
    --tide-color-table-border: black;
    --tide-color-table-border-head: black;
    --tide-color-table-border-even: black;
}

/* 默认小屏幕 */
[dir="ltr"] [tide-left-bar-expanded="true"] #tide-left-bar,
[dir="ltr"] [tide-left-bar-expanded="true"] #tide-content {--un-translate-x:75vw;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));
}

[dir="rtl"] [tide-left-bar-expanded="true"] #tide-left-bar,
[dir="rtl"] [tide-left-bar-expanded="true"] #tide-content {--un-translate-x:-75vw;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));
}

/* md 往后调整侧边栏宽度为 96 */
@media (min-width: 768px) {

    [dir="ltr"] [tide-left-bar-expanded="true"] #tide-left-bar,
    [dir="ltr"] [tide-left-bar-expanded="true"] #tide-content {--un-translate-x:24rem;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));
    }

    [dir="rtl"] [tide-left-bar-expanded="true"] #tide-left-bar,
    [dir="rtl"] [tide-left-bar-expanded="true"] #tide-content {--un-translate-x:-24rem;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));
    }
}

/* xl 往后横向首页不再允许折叠 */
@media (min-width: 1280px) {
    @media (orientation: landscape) {

        [dir="ltr"] [tide-is-home="true"] #tide-left-bar,
        [dir="ltr"] [tide-is-home="true"] #tide-content {--un-translate-x:24rem;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));
        }

        [dir="rtl"] [tide-is-home="true"] #tide-left-bar,
        [dir="rtl"] [tide-is-home="true"] #tide-content {--un-translate-x:-24rem;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));
        }

        [tide-is-home="true"] #tide-content {width:calc(100% - 24rem);
        }

        [tide-is-home="true"] #tide-btn-nav {display:none;
        }
    }
}