<dialog id="tide-dialog-toc" class="un-sc-dlg-fullscreen">
  <div class="tide-dialog-mask un-sc-dlg-mask">
    <div id="tide-toc-panel" class="un-absolute un-top-0 un-end-0 un-h-full un-bg-b-prim"></div>
  </div>
</dialog>