<dialog id="tide-dialog-toc" class="un-sc-dlg-fullscreen">
  <div class="tide-dialog-mask un-sc-dlg-mask">
    <div id="tide-toc-panel" class="tide-side-panel un-absolute un-top-0 un-end-0 un-h-full un-bg-b-prim">
      <div class="un-w-full un-p-4 un-flex un-justify-between un-gap-4">
        <h2 class="un-m-0 un-text-2xl un-font-bold un-leading-12 un-overflow-hidden un-text-ellipsis"><%= __('dialog_toc.title') %></h2>
        <button id="tide-toc-panel-close" class="un-sc-btn-default un-flex-none un-size-12" title="<%= __('dialog_toc.btn_close.title') %>">
          <i id="tide-btn-nav-icon-close" class="fa-solid fa-close" aria-hidden="true"></i>
        </button>
      </div>
      <div class="tide-side-panel-content un-clear-end un-p-4">
        <%- toc(page.content) %>
      </div>
    </div>
  </div>
</dialog>