<div id="tide-floating-utils" class="un-fixed un-bottom-16 un-end-4 un-max-h-1/2 un-flex un-flex-col un-flex-wrap-reverse un-gap-2">
  <button id="tide-btn-scroll-to-top" class="un-sc-btn-default un-size-12" title="<%= __('floating_utils.btn_scroll_to_top.title') %>">
    <i class="fa-solid fa-arrow-up" aria-hidden="true"></i>
  </button>
  <% if(is_post()&&tideCtx.toc.enable){ %>
  <button id="tide-btn-open-toc" class="un-sc-btn-default un-size-12" title="<%= __('floating_utils.btn_toc.title') %>">
    <i class="fa-solid fa-bars-staggered" aria-hidden="true"></i>
  </button>
  <% } %>
  <% if(!tide_utils().isEmptyObject(tideCtx.languages)){ %>
  <button id="tide-btn-switch-lang" class="un-sc-btn-default un-size-12" title="<%= __('floating_utils.btn_lang.title') %>">
    <i class="fa-solid fa-language" aria-hidden="true"></i>
  </button>
  <% } %>
</div>