<div id="tide-floating-utils " class="un-fixed un-w-12 un-bottom-4 un-end-4 un-flex un-flex-col">
  <button id="tide-btn-scroll-to-top" class="un-sc-btn-default un-size-12" title="<%= __('floating-utils.btn_scroll_to_top.title') %>">
    <i class="fa-solid fa-arrow-up" aria-hidden="true"></i>
  </button>
  <!-- <button></button>
  <button></button> -->
</div>