<div class="h-geo p-location un-hidden">
  <% if(h_adr.p_longitude!==''){ %>
  <span class="p-longitude"><%= h_adr.p_longitude %></span>
  <% } %>
  <% if(h_adr.p_latitude!==''){ %>
  <span class="p-latitude"><%= h_adr.p_latitude %></span>
  <% } %>
  <% if(h_adr.p_altitude!==''){ %>
  <span class="p-altitude"><%= h_adr.p_altitude %></span>
  <% } %>
</div>