<div class="h-geo p-location un-hidden">
  <% if(h_geo.p_longitude){ %>
  <span class="p-longitude"><%= h_geo.p_longitude %></span>
  <% } %>
  <% if(h_geo.p_latitude){ %>
  <span class="p-latitude"><%= h_geo.p_latitude %></span>
  <% } %>
  <% if(h_geo.p_altitude){ %>
  <span class="p-altitude"><%= h_geo.p_altitude %></span>
  <% } %>
</div>